@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --main-color: #3f69f3;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
} 
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
section{
    padding: 5rem 10%;
}
@keyframes fadeIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1em 3rem;
    cursor: pointer;
}
.btn:hover{
    background: rgb(1, 1, 56);
}
.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
} 
.Header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}
.Header img{
    margin-left:-120px ;
}
.Header .logo{
    font-size: 2.5rem;
    color: var(--black);
    margin-left:-500px;
}
.Header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}
.Header .navbar a:hover{
    color: var(--main-color);
}
.Header  p {
    font-size: 2.5rem;
    color: black;
    position: relative; left: 0px;
    margin-left:-500px;
    /* top: 20px; */
    /* font-family: 'PACIFICO'; */
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

 .abthead h1{
    background-image: url(images/bg1.jpeg);
    text-align: center;
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}
.home{
    padding:0;
}
.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}
.home .slide .content{
    width: 85rem;
    display: none;
}
.home .swiper-slide-active .content{
    display: inline-block;
}
.home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation: fadeIn .2s linear backwards .2s;
}
.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .2s linear backwards .4s;
}
.home .slide .content .btn{
    animation: fadeIn .2s linear backwards .6s;   
}
.home .swiper-button-next,
.home .swiper-button-prev{
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color: var(--black);
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background: var(--main-color);
    color: var(--white);
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 2rem;
}
.home .swiper-button-prev{
    right: 7rem;
}

/* .Services .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(16rem,1fr)) ;
    gap: 1.5rem;
}
.Services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
}
.Services .box-container .box:hover{
    background: var(--light-black);
}
.Services .box-container .box img{
    height: 7rem;
}
.Services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
} */
.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-about .image{
    flex: 1 1 41rem;
}
.home-about .image img{
    width: 100%;
}
.home-about .content{
    width: 300rem;
    height: 39.5rem;
    box-sizing: border-box;    
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}
.home-about .content .h1{
    font-size: 15rem;
    color: var(--black);
}
.home-about .content .h3{
    font-size: 10rem;
    padding: 1rem 0;
    line-height: 6;
    color: var(--black);
}
.home-services{
    background: var(--light-bg);
}
.home-services .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem,1fr)) ;
    gap: 2rem;
}
.home-services .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}
.home-services .box-container .box:hover .image img{
    transform: scale(1.1);
}
.home-services .box-container .box .image{
    height: 35rem;
    overflow: hidden;
}
.home-services .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: .2s linear;
}
.home-services .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.home-services .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}
.home-services .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.home-services .load-more{
    text-align: center;
    margin-top: 2rem;
}
/* .home-offer{
    text-align: center;
} */
 .content{
    max-width: 70rem;
    margin: 0 auto;
}
 .content h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
}
 .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.about .image{
    flex: 1 1 41rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    flex: 1 1 41rem;
    text-align: center;
}
.about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}
.about .content .icons-container .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 16rem;
}
.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}
.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--light-black);
    display: block;
}
 
 .box-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(30rem,1fr)) ;
    gap: 2rem;
}
 .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: none;
}
 .box-container .box:nth-child(1),
 .box-container .box:nth-child(2),
 .box-container .box:nth-child(3),
 .box-container .box:nth-child(4),
 .box-container .box:nth-child(5),
 .box-container .box:nth-child(6){
    display: inline-block;
}
.box-container .box:hover .image img{
    transform: scale(1.1);
}
 .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}
 .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: .2s linear;
}
.box-container .box .content{
    padding: 2rem;
    text-align: center;
}
 .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}
 .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
 .load-more{
    text-align: center;
    margin-top: 2rem;
}

/*  */
.footer{
   background: #0D2C54; 
   background: #0A1948;
   width: 100%;
   height: 22em;
   display: flex;
   justify-content:space-around;
   position: relative;
   top: 30px; 
   
} 

.foot1{ 
   border-right: solid 1px #6D7275;
   margin-left: 8%;
   -webkit-user-select: none;
   user-select: none;

}

.foot1_logo{
   font-size: 40px;
   font-family: 'Inter', sans-serif;
   font-weight: bold;
   color: #FAFAFF;
   margin: 1em 0em .5em 0em;
   margin-right: 50px;
}

.foot1_text{
   color: #B0C6CE;
   width: 20em;
   margin: 0em 2em 0em 0em;
}

.foot1 .social a{ 
   height: 40px;
   width: 40px;
   margin: 30px 2px 16px 2px;
   text-decoration: none;
   color: #FAFAFF;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: #666A86;
   border-radius: 50%;

}

.foot2{
   border-right: solid 1px #6D7275;
   -webkit-user-select: none;
   user-select: none;
   width: 30%;

}

.foot2_title{
   font-size: 20px;
   font-family: 'Inter', sans-serif;
   text-align: center;
   font-weight: bold;
   color: #FAFAFF;
   margin: 2.5em 0em 1em 0em;
}


.foot2_helpful_links li{
   list-style-type: none;
   text-align: center;
   margin: .6em 0em;
}

.foot2_helpful_links li a{
   text-decoration: none;
   color: #B0C6CE;
}

.foot3_title{
   font-size: 20px;
   font-family: 'Inter', sans-serif;
   font-weight: bold;
   color: #FAFAFF;
   margin: 2.5em 0em 1em 5em;
}

.foot2{
   font-family: 'Inter', sans-serif;
}
.foot3_content{
   display: flex;
   flex-direction: column;
   color: #B0C6CE;
   margin: 0em 0em 0em 5em;
   width: 50%;
}

.foot3_content li{
   list-style-type: none;
   margin-left: 1em;
}

.foot3_content1{
   display: flex;
}
.foot3_content2{
   display: flex;
   color: #00A5E0;
   margin: 1em 0em;
}
.foot3_content3{ 
   display: flex;
   margin-top: 1em;
} 



/* Media Queries */
@media (max-width:1200px){
    section{
        padding:3rem 5%;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding:3rem 2rem;
    }
    .home .slide .content h3{
        font-size: 10vw;
    }
}
@media (max-width:768px){
    .heading h1{
        font-size: 4rem;
    }
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .Header .navbar{
        position: absolute;
        top:99%;left:0;right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .Header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .Header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading-title{
        font-size: 3.5rem;
    }
}